.new-user-window {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.new-user-inputs {
  display: flex;
  flex-direction: column;
  border: 2px solid orange;
  background-color: rgba(233, 178, 26, 0.8);
  padding: 1em;
  border-radius: 10px;
  margin: 2em;
  align-items: center;
}

#close-user-inputs {
  background-color: red;
  border: 1px solid #fff;
  padding: 0em;
  margin: -0.5em -0.5em 1em 0em;
  width: 20px;
  align-self: flex-end;
}

input{
  width: 70%;
  margin: 2em 0em 1em 0em;
  padding: 1em;
  border-radius: 10px;
}