.user-table {
  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        background-color: #f7df94;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
    }
    th,
    td {
      border: 1px solid #000;
      padding: 10px;
      text-align: left;
    }
  }
}